*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: rgba(16, 65, 103, 1);
    width: 290px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.sidebar .description-header{
    position: relative;
    top: 20px;
    left: 25px;
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.sidebar .header .list-item .icon{
    position: relative;
    width: 160px;
    left: 40px;
    top: 5px;
}
.sidebar .main .list-item .description{
    position: relative;
    top: 82px;
    left: 30px;
    color: #F9F9F9;
    font-size: 17px;


}
.main-content{
    background-color: #ffffff;
    flex-grow: 1;
}
.main-content img{
    margin-top: 43px;
    margin-left: 48px;
    width: 110px;
}



